In [1]:
import pickle

In [2]:
data = {
    'name':'Edward',
    'age':24,
    'email':'edward@gmail.com'
}
with open("pickling.pkl","wb") as dt:
    pickle.dump(data,dt)

In [3]:
with open("pickling.pkl","rb") as dt:
    print(pickle.load(dt))

{'name': 'Edward', 'age': 24, 'email': 'edward@gmail.com'}

In [4]:
data = []

for i in range(5):
    name = input('enter your name: ')
    age = int(input('enter your age: '))
    email = input('enter your email: ')
    
    data.append({'name':name, 'age':age, 'email':email, })
with open("student_data.pkl","wb") as dt:
    pickle.dump(data,dt)

enter your name:  a
enter your age:  1
enter your email:  a@g.com
enter your name:  b
enter your age:  2
enter your email:  b@g.com
enter your name:  c
enter your age:  3
enter your email:  c@g.com
enter your name:  4
enter your age:  4
enter your email:  d@g.com
enter your name:  e
enter your age:  5
enter your email:  e@g.com

In [5]:
with open("student_data.pkl","rb") as dt:
    print(pickle.load(dt))

[{'name': 'a', 'age': 1, 'email': 'a@g.com'}, {'name': 'b', 'age': 2, 'email': 'b@g.com'}, {'name': 'c', 'age': 3, 'email': 'c@g.com'}, {'name': '4', 'age': 4, 'email': 'd@g.com'}, {'name': 'e', 'age': 5, 'email': 'e@g.com'}]

In [9]:
import json
data = {
    'name':'Edward',
    'age':24,
    'email':'edward@gmail.com'
}
with open("my_file.json","w+") as x:
    json.dump(data,x)

In [10]:
with open("my_file.json","r+") as x:
    print(json.load(x))

{'name': 'Edward', 'age': 24, 'email': 'edward@gmail.com'}

In [11]:
import json
data = []

for i in range(5):
    name = input('enter your name: ')
    age = int(input('enter your age: '))
    email = input('enter your email: ')
    
    data.append({'name':name, 'age':age, 'email':email})
with open("student_data.json","w+") as dt:
    json.dump(data,dt)

enter your name:  a
enter your age:  1
enter your email:  a@gmail.com
enter your name:  b
enter your age:  2
enter your email:  c@gmail.com
enter your name:  c
enter your age:  3
enter your email:  c@gmail.com
enter your name:  d
enter your age:  4
enter your email:  c@gmail.com
enter your name:  e
enter your age:  5
enter your email:  e@gmail.com

In [12]:
with open("student_data.json","r+") as dt:
    print(json.load(dt))

[{'name': 'a', 'age': 1, 'email': 'a@gmail.com'}, {'name': 'b', 'age': 2, 'email': 'c@gmail.com'}, {'name': 'c', 'age': 3, 'email': 'c@gmail.com'}, {'name': 'd', 'age': 4, 'email': 'c@gmail.com'}, {'name': 'e', 'age': 5, 'email': 'e@gmail.com'}]

In [13]:
class Fruit:
    seed = True
    def __init__(self,name,taste,location,price):
        self.name = name
        self.taste = taste
        self.location = location
        self.price = price
f1 = Fruit("mango","sweet","UP",120)
f2 = Fruit("banana","sweet","TN",40)
f1.name,f1.taste,f1.location,f1.price,f1.seed
f1.name,f1.taste,f1.location,f1.price,f1.seed

('mango', 'sweet', 'UP', 120, True)

In [1]:
class Employee:
    company_name = 'Flipkart'
    domain = 'flipkart.in'
    def __init__(self, doj, manager, salary):
        self.name = input("Enter your name: ")
        self.contact_no = input("Enter your contact number: ")
        self.doj = doj
        self.manager = manager
        self.salary = salary
e1 = Employee("16 May", "ratan Tata", 2000000)
print(e1.company_name, e1.domain, e1.name, e1.contact_no, e1.doj, e1.manager, e1.salary)

Enter your name:  Aditya
Enter your contact number:  1234567890

Flipkart flipkart.in Aditya 1234567890 16 May ratan Tata 2000000

In [3]:
class Employee:
    company_name = 'Flipkart'
    domain = 'flipkart.in'
    def __init__(self, name, doj, manager, salary):
        self.name = name
        
        self.doj = doj
        self.manager = manager
        self.salary = salary
    def increment(self):
        self.new_salary = self.salary*1.2
e1 = Employee('aniket', "16 May", "ratan Tata", 2000000)
print(e1.__dict__)
e1.increment()
print(e1.__dict__)
#print(e1.company_name, e1.domain, e1.name, e1.contact_no, e1.doj, e1.manager, e1.salary)

{'name': 'aniket', 'doj': '16 May', 'manager': 'ratan Tata', 'salary': 2000000}
{'name': 'aniket', 'doj': '16 May', 'manager': 'ratan Tata', 'salary': 2000000, 'new_salary': 2400000.0}

In [8]:
class Employee:
    company_name = 'Flipkart'
    domain = 'flipkart.in'
    def __init__(self, name, doj, manager, salary):
        self.name = name
        
        self.doj = doj
        self.manager = manager
        self.salary = salary
    def increment(self):
        self.new_salary = self.salary*1.2
    def bonus(self):
        if self.new_salary <= 1000000:
            self.new_salary += 1000
        elif self.new_salary > 1000000 and self.new_salary <= 2000000:
            self.new_salary += 2000
        elif self.new_salary > 2000000 and self.new_salary <= 4000000:
            self.new_salary += 3000
        else:
            self.new_salary += 4000
e1 = Employee('aniket', "16 May", "ratan Tata", 4000000)
print(e1.__dict__)
e1.increment()
print(e1.__dict__)
e1.bonus()
print(e1.__dict__)

{'name': 'aniket', 'doj': '16 May', 'manager': 'ratan Tata', 'salary': 4000000}
{'name': 'aniket', 'doj': '16 May', 'manager': 'ratan Tata', 'salary': 4000000, 'new_salary': 4800000.0}
{'name': 'aniket', 'doj': '16 May', 'manager': 'ratan Tata', 'salary': 4000000, 'new_salary': 4804000.0}